
@{
    ViewData["Title"] = "Product Detail Page";
}

<table>
    <tr>
        <th>ID</th>
        <th>Namet</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>@ViewData["fruitId"]</td>
        <td>@ViewData["fruitName"]</td>
        <td>@ViewData["fruitPrice"]</td>
    </tr>   
</table>